# Log-Dateien fuer jede Instanz Werden 12 Wochen aufbewahrt.
# Falls in der Instanz-Konfiguration log_level auf INFO gesetzt
# wurde, steht fuer jeden Zugriff ein Eintrag in der Log-Datei.

%(LOG_FILE)s  {
           compress
           rotate 12
           weekly
           missingok
           postrotate
/etc/init.d/ebkus_%(INSTANCE_NAME)s restart
           endscript
       }
